numpy==1.19.4
opencv-contrib-python==4.5.2.52
opencv-python==4.4.0.46
opencv-python-headless==4.5.1.48
matplotlib==3.3.3
scipy==1.5.4
imutils==0.5.3
scikit-image==0.18.1
pyqt5==5.15.4
pyqt5-plugins==5.15.4.2.2
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
chess==1.5.0
pyqtgraph==0.12.1
shapely==1.7.1
